<!DOCTYPE html>
<html>
<head>
<style>
body {
        height: 842px;
        width: 595px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
    }
th, td {
    padding: 15px;

</style>
</head>
<body>


<table>

<tr>

    <td><br><br><br><br>
        Ruj Tuan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:-<br>
        Ruj Kami&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:IH/TH/Invoice/IH0003/2017<br>
        Tarikh&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:28/7/2017
        <br><br><br>

        Unit Pengurusan Akaun Pusaka Dan Hibah Amanah<br>
        Bahagian Simpanan dan Pengeluaran<br>
        Jabatan Khidmat Pendeposit dan Operasi<br>
        Lembaga Tabung Haji<br>
        Lantai 34, Bangunan Tabung Haji<br>
        201,Jalan Tun Razak<br>
        50400 Kuala Lumpur<br>
        <b>(U/P : En Mohd Rosli Bin Bahrin)</b><br><br>
    </td>
 
<td>
<div align="right">
<img class="right" src="C:\wamp64\www\hims\assets\images\logohibah1.png" width="150" height="180" alt="Logo" align="right"><br><br><br><br><br><br><br><br><br><br>

 <font size="2"> IMARAH HIBAH SDN. BHD.<br>
  (1102873-D)<br>
  No. 1D, Jln Medan Pusat 2D,<br>
  38 Curve Business Park,<br>
  Persiaran Bangi Sect. 9,<br>
  43650 Bdr Baru Bangi,<br>
  Selangor Darul Ehsan <br>
  Tel , 03 8925 7385<br>
  Fax , 038925 8385 </font>

</div>
</td>

</div>
</tr>
</table>

   Per : <b><u>KELULUSAN PENDAFTARAN HIBAH AMANAH TH</u></b><br><br>
   Dengan segala hormatnya kami merujuk kepada perkara di atas.<br><br>
   Bersama-sama ini kami sertakan invois-invois kami yang berikut untuk tujuan penyelesaian oleh pihak tuan :<br><br>

   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IH0001/2017 bertarikh 16/6/2017 untuk jumlah RM2,479.40;<br>

   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IH0002/2017 bertarikh 3/7/2017 untuk jumlah RM1,062.60;<br>

   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IH0003/2017 (Bil 5 &amp; 6) bertarikh 14/7/2017 untuk jumlah RM3,719.10;<br>

   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IH0004/2017 (Bil 7 &amp; 8) bertarikh 28/7/2017 untuk jumlah RM6,375.60; dan<br>

   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IH0005/2017 (Bil 9) bertarikh 28/7/2017 untuk jumlah RM1,948.10;<br><br>

   Sila akui penerimaan pada salinan pendua surat ini.<br><br><br>
   Sekian. Terima kasih.<br><br>
   Yang benar,<br><br><br><br><br><br>

   <b>HJ MOHD NAJIB BIN ABAS</b><br>
   Pengarah Urusan
</body>
</html>
