<!DOCTYPE html>
<html>
<head>
<style>
body {
        height: 842px;
        width: 595px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
    }
th, td {
    padding: 15px;

</style>
</head>
<body>
<table>
<!--<tr>
  <td rowspan="2"><img class="right" src="<?php echo base_url();?>assets/images/logohibahlogin.png" alt="Logo"/>gambar</td>
  <font size="7">
  <td><b>HAZLI BIN MAT HUSSIN<br>
         IHAB BIN YUSOF<br>
         AZZA ISMA BINTI MOIDEEN<br><br>
         TUAN NUR HANIS BINTI TUAN IBRAHIM</b><br>
         FARAH DINA BINTI HAMZAH<br>
         MAHFUDZ AL-HAFIZ BIN MUSA</td>

  <td><b>LLB<i>(Hons)</i> IIUM, DSLP IIUM<br>
         LLB<i>(Hons)</i> IIUM<br>
         LLB<i>(Hons)</i> IIUM,<br>
         Masters of Law (Business Law) IIUM<br>
         LLB<i>(Hons)</i> IIUM<br></b>
         LLB<i>(Hons)</i> IIUM<br>
         LLB<i>(Hons)</i> IIUM</td>
  </font>
</tr>





</table>
<hr noshade="10" width="500" align="right">
<br>
<center>35-3-1 &amp; 35-3-2, Tingkat 3, Jalan Semarak Api 2, (Jalan 3/50),<br>
                  Diamond Square Commercial Centre,<br>
                  Off Jalan Gombak, 53000 Kuala Lumpur<br>
                  Hunting Lines: 03 4021 1157/4022 1157/4021 2157<br>
                  Fax: 03 4021 2158 e-mail: <a href="general@hazlihab.com">general@hazlihab.com</a></center>
<br>
<hr noshade="10">-->
 <img class="right" src="C:\wamp64\www\hims\assets\images\header_ihab.jpg" alt="Logo"/>
 <font style="century gothic">
<p align="left">Ruj kami.: IH/IH//00001/2017/(20) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;27.09.2017</p>
<br>
<b>MOHAMED SHAZRIN BIN MOHAMED ISA</b><br>
No.7, Jln Setiawangsa 3A,<br>
Taman Setiawangsa,<br>
54200 Kuala Lumpur,<br>
Wilayah Persekutuan.<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><u>AKUAN MENGEPOS</u></b>
<br><br>
Assalamualaikum,<br><br>
Tuan/Puan,<br><br>
PENYERAHAN SURAT IKATAN HIBAH &amp; SURAT KUASA WAKIL UNTUK DOKUMENTASI HIBAH AMANAH TH<br>
<hr noshade="10"><br>
<p>Kami merujuk kepada perkara di atas dimana kami mewakili anakguan kami, Lembaga Tabung Haji, yang beralamat di No. 201, Jalan Tun Razak, Peti Surat 11025, 50732 Kuala Lumpur.<br><br>
Dilampirkan di sini:<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sesalinan Surat Ikatan Hibah yang telah bersetem: dan<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sesalinan Surat Kuasa Wakil yang telah dimasuki antara Tuan/Puan dan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pihak Lembaga Tabung Haji yang telah difailkan dan didaftarkan di &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mahkamah Tinggi:<br><br>
bagi Produk Hibah Amanah TH untuk simpanan dan rujukan pihak Tuan/Puan,<br><br>
Tuan/Puan dimohon untuk mematuhi terma-terma dan syarat-syarat yang dinyatakan dalam dokumen Hibah Amanah TH.<br><br>
Sekian, terima kasih.<br><br>
Yang benar,<br>
Untuk dan bagi pihak<br>
</p></font>
<b><i>HAZLI &amp; IHAB</i></b><br><br><br>
<b>IHAB BIN YUSOF</b><br>
/ayu</p>









</body>
</html>
